<h1 id="pageTitle">Pico y Placa predictor</h1>
<br>
<div class="container">
  <div class="form-group row">
    <h4>Please insert a Car Number Plate, a Date and an Hour, in order to predict if that car can be on the road at that hour of that date</h4>
  </div>
  <div class="form-group row">
        <label for="txtPlate" class="col-sm-2 col-form-label">Plate Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtPlate" placeholder="Plate Number">
        </div>
      </div>
    
      <div class="form-group row">
        <label for="txtDate" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtDate" placeholder="Date">
        </div>
      </div>
      <div>
        
      <div class="form-group row">
        <label for="dateTime" class="col-sm-2 col-form-label">Time</label>
        <div class="col-sm-10">
          <input type="time" class="form-control" id="dateTime" placeholder="Time">
        </div>
      </div>
        
    <div id="submitButton">
        <button type="button" class="btn btn-primary btn-lg" (click) = "getData()">Submit</button>
    </div>
    
    <div id="resultContainer">
      <h2 id="result"></h2>
      <h3 id="result1"></h3>
    </div>
  </div>

      
 

